.border {
  border: 2px solid rgb(62, 128, 199);
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-grey {
  background-color: #121212;
}

.rounded {
  border-radius: 7px;
}

.p-1 {
  padding: 10px;
}

.m-1 {
  margin: 5px;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(47, 44, 44, 0.7);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(78, 74, 74, 0.9);
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #3d3a3ab3 transparent;
}

.white-icon {

  filter: brightness(0) saturate(100%) invert(100%);

}